html{
    /*font-family: arial;
    font-family: bahnschrift*/
}

body {
    /*font-family: arial*/
}

@media (max-width: 767px) {
    .hidden-mobile {
        display: none;
    }
}

#maptitle{
    margin-bottom: 0px;
    margin-top: 0px;
}

.head{
    text-align: center;
    font-size: 25px;
}

#map {
    z-index: 1;
    border: 2px solid #09B2E1;
    margin: auto;
    width: 1000px;
    max-width: 100%;
    height: 95vh;
}

#topbtn {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #09B2E1;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

#topbtn:hover {
    background-color: #555;
}

.switch {
    color: red;
    margin: auto;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:after {
    background-color: #09B2E1;
}

#focus{
    font-size: 13px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 10px;
    padding-left: 20px;
}

/*
#focusme{
    margin: auto;
    color: red;
    background-color: deepskyblue;
}

.slider round{
    margin: auto;
    color: red;
    background-color: deepskyblue;
}
*/

#focusbtn{
    border: 1px solid #6ad178;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 175px;
    max-width: 75%;
    background-color: #CEFA96;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



#logoutbtn{
    margin: auto;
}

.main{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	/*
	margin: 10px;
	 */
}

#title{
    margin-top: 10px;
    background-color: #E4F3FF;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
	margin: auto;
	color: #764C8E;
	text-align: center;
	font-weight: bold;
}

.table .table-striped{
}

.mt-2{
    padding: 10px;
    background-color: #79B4FF;
}
.mainpage{
    width: 250px;
    background-color: #62E6F8;
}
.acch{
    text-align: center;
    font-size: 25px;
    background-color: #5CDCFF;
}

.locstat{
    margin: auto;
    margin-top: 25px;
    width: 900px;
    max-width: 90%;

}

.infobtn{
    border-radius: 3px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bolder;
    color: black;
    font-size: 20px;
    background-color: whitesmoke;
    border: none;
}

.statbtn{
    border-radius: 3px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bolder;
    color: white;
    font-size: 20px;
    background-color: #5CDCFF;
    border: none;
}

.stathead{
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #09B2E1;
}

.statcontent{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 10px;
    background-color: #B6EAF8;
}

#usertype{
    //color: ;
    //position: fixed;
    text-align: center;
    padding: 10px;
    width: 275px;
    height: 115px;
    border-width: 2px;
    border-color: darkgray;
    background-color: whitesmoke;
}

#usertypename{
    margin-bottom: 5px;
    font-size: 20px;
    color: gray;
}

#riskclass{
    width: 10px;
    border: 2px solid darkgray;
    border-radius: 7px;
    font-size: 20px;
    text-align: center;
    width: 500px;
    max-width: 75%;
    padding: 20px;
    background-color: white;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 15px;
}

#dashboard{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    height: 80px;
	padding: 20px;
    background-color: #dedede;
}

.nav-link:hover{
    background-color: #6FA1DF;
}
.nav-link{
    border: 1px solid gray;
	font-weight: bolder;
	margin-left: 5px;
	background-color: #00C8FF;
	color: black;
}


.nav-attend:hover{
    color: white;
    background-color: #0092BA;
}

.regbtn.active{
    background-color: gray;
}

.nav-link:show{
    background-color: red;
}

.regbtn{
    background-color: lightgray;

    /*
    margin: auto;
    border: 1px solid black;
    margin-top: 5px;
    color: white;
    background-color: gray;
    width: 10px;
    height: 10px;
    padding: 5px;
    margin-left: 5px;
    */
}

.nav-link{

}

.nav-attend{

}

/*
#maintab: active{
    background-color: green;
}
*/

.regbtn:show{
    color: #8CDCFF;
    text-decoration: none;
    background-color: #686868;
}

.regbtn:hover{
    color: #8CDCFF;
    text-decoration: none;
    background-color: #686868;
}

#mapform input, .adminform input, .radioprov input {
    max-width: 75%;
}

#areasearch{
    margin-bottom: 5px;
}

.form-control.saselect{
    width: 500px;
    max-width: 75%;
}
.form-control{

}



.input-lg{
    width: 50px;
}

#statform{
}

.adminform{

    margin: auto;
    min-height: 275px;
    width: 660px;
    max-width: 90%;
    background-color: #E9E9E9;
    padding-top: 20px;
    padding-bottom: 50px;
}

#addstudbtn{
    margin-left: 100px;
}
#addattnbtn{

    font-weight: bold;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid gray;
    text-decoration: none;
    color: black;
    background-color: #FF5A5A;
}

#addattnbtn:hover, #addattnbtn:focus{
    color: white;
    background-color: red;
}

.log:hover{
    color: green;
}

#loginlogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7.5%;
    position: center;
}

#addaccbtn:hover{
    color: white;
    background-color: #CD0000;
}

#loginform, #loginform input{
    max-width: 75%;
}

#loginform{
    margin-bottom: 150px;
}

#addstudentform input, #addevntform input, #addhostform input, #addattendform input, #attendlogout input ,
#loginform input{
	width: 500px;
}

#addstudentform, #addevntform, #addhostform, #addattendform, #attendlogout, #loginform{
    border: 1px solid gray;
	margin: auto;
	min-height: 275px;
	width: 660px;
	background-color: lightcyan;
	padding-top: 20px;
	margin-top: 70px;
    padding-bottom: 50px;
}

#addstudform label, #addevntform label, #addhostform label, #createaccform label, #loginform label{
    font-weight: bold;
}

.form-group{
    margin: auto;
}

form-group input {
    //width: 500px;
}

.form-group, .btn{
    margin-left: 80px;
}

.import{
    margin-left: 0px;
}

#returnbtn{
    margin-top: 10px;
}

#addbillbtn{
    background-color: #5B47FF;
    border: 1px solid gray;
}

.adminbtn{
    background-color: darkcyan;
}

.notify:before{
    content: "Server: ";
}
.notify{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    //left: 50%;
    //right: 50%;
    //margin-left: auto;
    //margin-right: auto;
    content: "Server: ";
    //margin-top: 10px;
    font-size: 17.5px;
    text-align: center;
    padding: 5px;
    width: 500px;
    min-height: 50px;
    background-color: #AEE7FF;

}

.jsbtn{
    font-size: 20px;
    font-weight: bold;
    width: 49%;
    height: 50px;
    background-color: #C2B7FF;
    margin: auto;
}
.jsbtn:focus, .jsbtn:active{
    color: white;
    background: #5B47FF;
}

#login, #logout, #reporttbl{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border: 1px solid gray;
}

#login, #logout{
    display: none;
}

.radio-form, .radiobtn{
    width: 500px;
    padding: 18px;
    background-color: #BBBBBB;
}

.display-form{
    margin-top: 2px;
    padding: 2px;
    background-color: #E4F3FF;
}

#accnodisplay{
    margin: 0px;
    margin-top: 5px;
}


#radiobtntext, #radiobtnlogouttext{
    margin-left: 60px;
}
#radiobtnlogouttext{
    margin: auto;
    width: 400px;
    padding: 10px;
    background-color: white;
}
#radiobtnevnthost input{
    margin-top: 5px;
    border: 0px;
    width: 25px;
    height: 25px;
}

.radiobtn{
    width: 350px;
    max-width: 75%;
}

form-group.radio-form.areasrcbtn{
    width: 500px;
    max-width: 75%;
}

.radiobtn input{
    border: 0px;
    width: 20px;
    height: 20px;
    margin-left: 50px;
}

.ui-datepicker-calendar {
    display: none;
}

.note {
    text-decoration: none;
    font-weight: lighter;
}

.top-div{
    color: white;
    margin:auto;
    padding: 5px;
    padding-left: 50px;
    background-color: #2888FF;
    width: 775px;
}

.acc{
    background-color: #5B47FF;
}

#reportacctxt{
    margin-left: 50px;

}

#reporttxt{
    margin-left: 90px;

}

#searchreportwrap input{
    margin: 5px;
}

#searchreportwrap{
    border: 1px solid gray;
    padding: 10px;
    padding-bottom: 15px;
    background-color: #E4F3FF;
}
#searchreport{
    margin: auto;
    padding-bottom: 15px;
    padding-top: 5px;
    width: 200px;
    height: 35px;
    text-align: center;
}
#report input{
    background-color: #FFF8E1;
    margin-right: 20px;
}

.covupdate{
    margin-bottom: 75px;
}

.covupdate span{
    border: 1px solid #6ad178;
    border-radius: 3px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #CEFA96;
    padding: 5px;
}

.tablename{
    font-weight: bold;
    background-color: white;
    margin: auto;
    padding: 5px;
    width: 850px;
    max-width: 90%;
}

.table-wrapper table{
    width: 100%;
}

.table-scroll{
    height:250px;
    overflow:auto;
}

#risktable {
    height: 300px;
    margin: auto;
    width: 850px;
    max-width: 90%;
}
#risktable th {
    cursor: pointer;
    background-color: #09B2E1;
}

#misctable {
    height: 300px;
    margin: auto;
    width: 850px;
    max-width: 90%;
}
#misctable th {
    position: sticky;
    cursor: pointer;
    background-color: #09B2E1;
}

.infotable th{
    color: white;
    background-color: #2888FF;
}

.accevnt-div, .acchost-div, .accstud-div{
    border: 1px solid gray;
    width: 675px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #BBBBBB;
}

.wrap-div{
    background-color: #E9E9E9;
    margin-left: 150px;
    border: 1px solid gray;
    width: 777px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.wrap-div form{
    width: 575px;
}

.deletebtn{
    font-weight: bold;
    border: 2px outset gray;
    color: red/*#BF1C1C*/;
    background-color: #BBBBBB;
}

#clearlogbtn{
    color: red;
    font-weight: bold;
}

.evnt-div, .host-div, .acc-div{
	padding: 20px;
	margin: auto;
	background-color: #E9E9E9;
	width: 775px;
	min-height: 175px;
    padding-left: 50px;
    padding-bottom: 20px;
}

.searchlistitem {
    width: 275px;
    padding: 5px;
    background-color: #FFA7A7;
    margin-top: 5px;
    list-style-type: square;
    border: 1px solid gray;
    /*font-family: arial;*/
}

.searchlistitem:hover {
    color: white;
    /*font-family: arial;*/
    cursor: pointer;
    background-color: red;
}

.outer-container {
    background: #F0F0F0;
    border: #e0dfdf 1px solid;
    padding: 40px 20px;
    border-radius: 2px;
}

.btn-submit {
    background: #333;
    border: #1d1d1d 1px solid;
    border-radius: 2px;
    color: #f0f0f0;
    cursor: pointer;
    padding: 5px 20px;
    font-size:0.9em;
}

.tutorial-table {
    margin-top: 40px;
    font-size: 0.8em;
    border-collapse: collapse;
    width: 100%;
}

.tutorial-table th {
    background: #f0f0f0;
    border-bottom: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.tutorial-table td {
    background: #FFF;
    border-bottom: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

#response {
    padding: 10px;
    margin-top: 10px;
    border-radius: 2px;
    display:none;
}

.success {
    background: #c7efd9;
    border: #bbe2cd 1px solid;
}

.error {
    background: #fbcfcf;
    border: #f3c6c7 1px solid;
}

div#response.display-block {
    display: block;
}

.tab-content{
    padding-bottom: 80px;
    min-height: 750px;
    margin: 0px;
    background-color: #E4F3FF;
}