<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="title">My Portfolio</div>
	<img id="outrungif" src="skyline.gif">
	<div id="main">

		<div id="aboutme">About Me</div>
		<div class="mytext">
			<img src="mindless.jpg" height="200">
			<p>	My name is Jacel Ablizar Pacquiao and this is a portfolio of my works from photoshop. I go to University of Southeastern Philippines to finish college in Bachelor of Science in Information Technology course. I am 21 years old and live in Tibungco, Davao City.</p></br></br>
		</div>
		<div id="aboutme">More Information and Contact</div>
		<div class="mytext">
			</br>Deviantart: <a class="link" href="https://www.deviantart.com/kryse-777">deviantart.com/kryse-777</a></br>
			Email: kanseidorifto77@gmail.com</br>
			Contact Number: +639194201928</br></br></br>

			If you want to support my work, donate to my paypal!</br></br>
			<a href="http://paypal.me/coolhumanbean"><img src="paypalme.png" style="width: 10%;"></a>
		</br></div>
		
		<div id="myworks">My Photoshop works</div>
		<div class="mytext">

			<img src="wip.jpg" height="200">
			<p>I began to use photoshop from our class subject and project submission, I took interest to the software and the medium that is digital art. As my hobby I now use photoshop to hone my skills at altering and creating images from ideas that storm into my head. These works are generally from pop culture media, as my go to kinds of photos and sketch pieces that I like to work on.</p>

			<img src="eye-candy.jpg" height="200">

			<p>Most of my inspiration and style of creating images usually veer to the genre of science fiction, I like the concept of the combination of reality and a likely possible reality which means that the potential ideas of the works that I make and can make are virtually endless. </p>
		</div>
		<div class="gallery">
			<a target="_blank" href="gallery/Magic-Isnt-Real-Wide.jpg">
		    	<img src="gallery/Magic-Isnt-Real-Wide.jpg" alt="Cinque Terre" width="600" height="400">
			</a>
			<div class="desc"></div>
		</div>

		<div class="gallery">
			<a target="_blank" href="gallery/middayrun.jpg">
		    	<img src="gallery/middayrun.jpg" width="600" height="400">
			</a>
			<div class="desc"></div>
		</div>

		<div class="gallery">
			<a target="_blank" href="gallery/Revan.jpg">
		    	<img src="gallery/Revan.jpg" width="600" height="400">
			</a>
			<div class="desc"></div>
		</div>

		<div class="gallery">
			<a target="_blank" href="gallery/The-Lone-Wanderer.jpg">
		    	<img src="gallery/The-Lone-Wanderer.jpg" width="600" height="400">
			</a>
			<div class="desc"></div>
		</div>

		<div class="gallery">
			<a target="_blank" href="gallery/evil-morty.jpg">
		    	<img src="gallery/evil-morty.jpg" width="600" height="400">
			</a>
			<div class="desc"></div>
		</div>

		<div class="gallery">
			<a target="_blank" href="gallery/jigoku.jpg">
		    	<img src="gallery/jigoku.jpg" width="600" height="400">
			</a>
			<div class="desc"></div>
		</div>

		<div class="gallery">
			<a target="_blank" href="gallery/Kaneki-PS.jpg">
		    	<img src="gallery/Kaneki-PS.jpg" width="600" height="400">
			</a>
			<div class="desc"></div>
		</div>

		<div class="gallery">
			<a target="_blank" href="gallery/fly-beam-cut-1.1.jpg">
		    	<img src="gallery/fly-beam-cut-1.1.jpg" width="600" height="400">
			</a>
			<div class="desc"></div>
		</div>

		<div class="gallery">
			<a target="_blank" href="gallery/iron-squirrel-v2.jpg">
		    	<img src="gallery/iron-squirrel-v2.jpg" alt="Cinque Terre" width="600" height="400">
			</a>
			<div class="desc"></div>
		</div>
			<!--img class="gallery" src="gallery/evil-morty.jpg">
			<img class="gallery" src="gallery/jigoku.jpg">
			<img class="gallery" src="gallery/Kaneki-PS.jpg">
			<img class="gallery" src="gallery/fly-beam-cut-1.1.jpg">
			<img class="gallery" src="gallery/iron-squirrel-v2.jpg"-->
	</div>
</body>
</html>